.user_avatar {
  border-radius: 50%;
  background-color: rgb(90, 156, 248);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  &_dropdown {
    position: absolute;
    background-color: white;
    right: 250px;
    top: 65px;
    color: black;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    &:hover {
      background-color: rgb(248, 154, 154);
      cursor: pointer;
    }
  }
}
